*{
    color: rgb(0, 81, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

li{
    color: brown;
}

.texto{
    color: black;
}

#sol{
    color: blueviolet;
    font-weight: bolder;
}